<h3 class="mt-3">Semaine</h3>
<hr>
<table class="table table-striped">
        <thead>
            <tr>
            <th scope="col"></th>
            <th scope="col">Services</th>
            <th scope="col">Titre</th>
            <th scope="col">Coordonnées</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <th scope="row"></th>
                <td>Anesthésiste</td>
                <td>Dr</td>
                <td>24072</td>
            </tr>
            <tr>
            <th scope="row"></th>
                <td>Cardiologue</td>
                <td>Dr</td>
                <td>24070</td>
            </tr>
            <tr>
            <th scope="row"></th>
                <td>Coronarographie</td>
                <td>Dr</td>
                <td>?</td>
            </tr>
            <tr>
            <th scope="row"></th>
                <td>CHIR Ortho et Traumato</td>
                <td>Dr</td>
                <td>24511</td>
            </tr>
            <tr>
            <th scope="row"></th>
                <td>CHIR Digestif et Viscérale</td>
                <td>Dr</td>
                <td>24509</td>
            </tr>
            <tr>
            <th scope="row"></th>
                <td>Gynécologue</td>
                <td>Dr</td>
                <td>25004</td>
            </tr>
             <tr>
            <th scope="row"></th>
                <td>Nephrologue</td>
                <td>Dr</td>
                <td>24170</td>
            </tr>
            <tr>
            <th scope="row"></th>
                <td>Hépato Gastro</td>
                <td>Dr</td>
                <td>24126</td>
            </tr>
            <tr>
            <th scope="row"></th>
                <td>IRM et Radio</td>
                <td>Dr</td>
                <td>24077</td>
            </tr>
            <tr>
            <th scope="row"></th>
                <td>Laboratoire</td>
                <td>Dr</td>
                <td>24476</td>
            </tr>
            <tr>
            <th scope="row"></th>
                <td>O.P.H</td>
                <td>Dr</td>
                <td>24512</td>
            </tr>
            <tr>
            <th scope="row"></th>
                <td>O.R.L</td>
                <td>Dr</td>
                <td>24530</td>
            </tr>
            <tr>
            <th scope="row"></th>
                <td>Traumato de la face</td>
                <td>Dr</td>
                <td>24530</td>
            </tr>
            <tr>
            <th scope="row"></th>
                <td>CHIR Plast / Esthétique</td>
                <td>Dr</td>
                <td>?</td>
            </tr>
            <tr>
            <th scope="row"></th>
                <td>Pédiatrie</td>
                <td>Dr</td>
                <td>26610</td>
            </tr>
             <tr>
            <th scope="row"></th>
                <td>Pharmacie</td>
                <td>Dr</td>
                <td>24471</td>
            </tr>
            <tr>
            <th scope="row"></th>
                <td>Pneumo</td>
                <td>Dr</td>
                <td>24075</td>
            </tr>
             <tr>
            <th scope="row"></th>
                <td>Réa</td>
                <td>Dr</td>
                <td>24073</td>
            </tr>
            <tr>
            <th scope="row"></th>
                <td>Neurologue / UNV</td>
                <td>Dr</td>
                <td>24515</td>
            </tr>
             <tr>
            <th scope="row"></th>
                <td>Urologue</td>
                <td>Dr</td>
                <td>24510</td>
            </tr>
            <tr>
            <th scope="row"></th>
                <td>Médecin Accueil Urgences Quimper</td>
                <td>Dr</td>
                <td>24105</td>
            </tr>
            <tr>
            <th scope="row"></th>
                <td>Médecin SMUR Quimper</td>
                <td>Dr</td>
                <td>24108</td>
            </tr>
            <tr>
            <th scope="row"></th>
                <td>Médecin SMUR CC</td>
                <td>Dr</td>
                <td>24325</td>
            </tr>
            <tr>
            <th scope="row"></th>
                <td>UCJ</td>
                <td>Dr</td>
                <td>?</td>
            </tr>
            <tr>
            <th scope="row"></th>
                <td>Infectiologue Covid</td>
                <td>Dr</td>
                <td>24544</td>
            </tr>
            <tr>
            <th scope="row"></th>
                <td>Administrateur</td>
                <td>M</td>
                <td>?</td>
            </tr>
            <tr>
            <th scope="row"></th>
                <td>Cadre de nuit</td>
                <td>M</td>
                <td>24074</td>
            </tr>
            <tr>
            <th scope="row"></th>
                <td>Radio / Scanner Manip</td>
                <td>M</td>
                <td>24293</td>
            </tr>
            <tr>
            <th scope="row"></th>
                <td>Coronarographie IDE</td>
                <td>M</td>
                <td>24073</td>
            </tr>
            <tr>
            <th scope="row"></th>
                <td>Coronarographie Manip</td>
                <td>M</td>
                <td>24075</td>
            </tr>
            <tr>
            <th scope="row"></th>
                <td>Endoscopie digestive IDE</td>
                <td>M</td>
                <td>24073</td>
            </tr>
            <tr>
            <th scope="row"></th>
                <td>PMO</td>
                <td>M</td>
                <td>24486</td>
            </tr>
            <tr>
            <th scope="row"></th>
                <td>Radio Concarneau Manip</td>
                <td>M</td>
                <td>?</td>
            </tr>
            <tr>
            <th scope="row"></th>
                <td>Informatique Nuit</td>
                <td>M</td>
                <td>?</td>
            </tr>

        </tbody>    
    </table>