<h3 class="mt-3">Week-End</h3>
<hr>
<table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Services</th>
                <th scope="col">Titre</th>
                <th scope="col">Coordonnées</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <th scope="row"></th>
                <td>Informatique</td>
                <td>M</td>
                <td>?</td>
            </tr>
            <tr>
            <th scope="row"></th>
                <td>SMIT - Médecine Interne</td>
                <td>Dr</td>
                <td>?</td>
            </tr>
            <tr>
            <th scope="row"></th>
                <td>Médecine Polyvalente A</td>
                <td>Dr</td>
                <td>?</td>
            </tr>
            <tr>
            <th scope="row"></th>
                <td>Médecine Polyvalente B</td>
                <td>Dr</td>
                <td>?</td>
            </tr>
            <tr>
            <th scope="row"></th>
                <td>Médecin SSR et EHPAD CC</td>
                <td>Dr</td>
                <td>?</td>
            </tr>
            <tr>
            <th scope="row"></th>
                <td>Radiothérapie Oncologie</td>
                <td>Dr</td>
                <td>?</td>
            </tr>
            <tr>
            <th scope="row"></th>
                <td>RED (Rhumato / Endoc / Dermato)</td>
                <td>Dr</td>
                <td>?</td>
            </tr>
            <tr>
            <th scope="row"></th>
                <td>Cadre CHIC</td>
                <td>M</td>
                <td>24466</td>
            </tr>
            <tr>
            <th scope="row"></th>
                <td>Cadre EPHAD / SSIAD</td>
                <td>M</td>
                <td>?</td>
            </tr>
            <tr>
            <th scope="row"></th>
                <td>Kiné Quimper Samedi</td>
                <td>M</td>
                <td>25222</td>
            </tr>
            <tr>
            <th scope="row"></th>
                <td>Kiné Quimper Dimanche et feriés</td>
                <td>M</td>
                <td>25222</td>
            </tr>
            <tr>
            <th scope="row"></th>
                <td>Kiné Concarneau Samedi</td>
                <td>M</td>
                <td>25222</td>
            </tr>
        </tbody>    
    </table>